NODE_ENV="development"
APP_PORT=3000
ADMIN_PORT=4100
SYSTEM_GEN_PASSWORD="1234"

# -------------------------- Database Environments -------------------------
DB_DRIVER='mysql'
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME='root'
DB_PASSWORD='1234'
DB_NAME='test-db'

# ------------------------------ Authentication ------------------------------ #
ADMIN_ACCESS_TOKEN_SECRET="12345"
ADMIN_REFRESH_TOKEN_SECRET="12345"
APP_ACCESS_TOKEN_SECRET="12345"
APP_REFRESH_TOKEN_SECRET="12345"

# ------------------------------------ AWS ----------------------------------- #
AWS_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID='123'
AWS_SECRET_ACCESS_KEY='123'
AWS_S3_BUCKET='dev-bucket'
AWS_S3_BUCKET_PREFIX="dev"

# --------------------------------- Sendgrid --------------------------------- #
SENDGRID_API_KEY=""
SENDGRID_SENDER_EMAIL=""
SENDGRID_SENDER_NAME=""
